@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sizning custom CSS'lar */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.glass-morphism {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.glass-morphism-dark {
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Ranglar */
.soft-blue {
  background-color: #e6f0ff;
}
.soft-green {
  background-color: #e9ffe8;
}
.soft-purple {
  background-color: #f3e8ff;
}

/* Hover animatsiyalar */
.hover-shadow:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}
.icon-bounce:hover {
  transform: scale(1.1);
  transition: 0.25s ease;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  animation: shimmer 1.2s infinite;
}
